{
  "env": {
    "targest": {
      "node": 18
    }
  },
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "baseUrl": ".",
    "paths": {
      "@/*": ["./src/*"]
    }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true,
  "minify": true
}
